<ion-header>
  <ion-toolbar>
    <p class="ion-text-right" style="padding-right: 10px;">Benvenuto,{{username}}</p>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="d-flex justify-content-center">
<div class="ion-text-center" style="padding-top:30px;">
  <ion-title >
    Prenota un ristorante
  </ion-title>
  <ion-input type="text" placeholder="Cerca ristorante"style="border-color:black"[(ngModel)]="searchResturant"></ion-input>

  <ion-button style="margin-top:10px;" (click)="nuovaPrenotazione()"ion-button type="reset" color="tertiary" >Nuova prenotazione</ion-button>
</div>
<br>
<br>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">
      Ristoranti nella tua città
    </ion-title>
  </ion-toolbar>
  <ion-content class="ion-margin">
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Nome</ion-col>
        <ion-col>Azione</ion-col>
      </ion-row>
     <ion-row *ngFor="let ristorante of ristoranti">
        <ion-col>{{ ristorante.nomeRistorante}}</ion-col>
        <ion-col><ion-button  (click) = "prenota(ristorante.nomeRistorante)" color="light">Prenota</ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>
