<ion-header>
  <ion-toolbar>
    <p style="padding-left:10px;">Torna alla home</p>
    <ion-buttons slot="start">
      <ion-icon routerLink="" size="large" name="arrow-back-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
 
  <div class="formMarginTop">
    <h1>Login</h1>
<form (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input type="text"name="username" id="username" [(ngModel)]="credentials.username" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="credentials.password" name="password" type="password" id="password"></ion-input>
  </ion-item>
  <br>
  
    <ion-grid>
      <ion-row>
        <ion-col size="12" ><ion-button  ion-button type="submit" color="tertiary">Login</ion-button>
        <ion-button   fill="outline"ion-button type="reset" color="tertiary" >Cancella</ion-button></ion-col>
      </ion-row>
 
    </ion-grid>


</form>
</div>
</ion-content>
